.container{
    display:flex;
    justify-content: center;
    width:100%;
    margin-top: 3rem;
}
.row{
    width:100%;
    display:flex;
    justify-content: center;

}

.dados_compra{
    background-color: #90C2E7;
    border-radius: 15px;
    height:auto;

}
.form{
    background-color: #90C2E7;
    width:10px;
    text-align: center;
}
.finalizarcompra{
    margin-top: 1rem;
    margin-bottom: 2rem;

}