.btn-compra{
    background-color: #90C2E7;
    border-radius: 30px;
    width:200px;
    height:50px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 3rem;
}

table{
    margin-top: 2rem;
    background-color: #90C2E7;
    border-radius: 20px;
}
